* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*========= FORM BANNER ==========*/
.form-banner img {
  width: 100%;
  height: 100%;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
